logs/
*.log
*.log.gz
target/
*.class
.flattened-pom.xml
.idea/
out/
ouyu-server/src/META-INF/MANIFEST.MF
*.iml
/.idea/
resources/ouyunc-server-prod.yml
/ouyunc-server/src/main/resources/ouyunc-server-dev.yml
