cache.redis.primary=STANDALONE
cache.redis.standalon.lettuce.database=0
#cache.redis.standalon.lettuce.host=106.15.42.106
cache.redis.standalon.lettuce.host=127.0.0.1
cache.redis.standalon.lettuce.port=6379
# cache.redis.standalon.lettuce.password=ouyunc
cache.redis.standalon.lettuce.timeout=10000
cache.redis.standalon.lettuce.pool.max-active=10
cache.redis.standalon.lettuce.pool.max-wait=100
cache.redis.standalon.lettuce.pool.max-idle=10
cache.redis.standalon.lettuce.pool.min-idle=0

cache.redis.standalon.redisson.database=0
cache.redis.standalon.redisson.host=127.0.0.1
cache.redis.standalon.redisson.port=6379
#cache.redis.standalon.redisson.password=ouyunc
cache.redis.standalon.redisson.timeout=10000
cache.redis.standalon.redisson.conn-timeout=10000
cache.redis.standalon.redisson.so-timeout=3000
cache.redis.standalon.redisson.pool.max-active=10
cache.redis.standalon.redisson.pool.max-wait=100
cache.redis.standalon.redisson.pool.max-idle=10
cache.redis.standalon.redisson.pool.min-idle=0